flask
flask-cors
flask-marshmallow
flask-sqlalchemy
marshmallow
marshmallow-sqlalchemy
python-dotenv
sqlalchemy
pytest
psycopg2-binary
pytest-cov
codecov
alchemical
alembic
apifairy
python-dateutil
bs4
rapidfuzz